<div class="jumbotron">
  <h1 class="display-3">Welcome to RSS Reader!</h1>
  <p class="lead">This is a simple RSS reader.</p>
  <hr class="my-4">
  <p>It can save your time to find the sites you loved.</p>
  <% if current_user.nil? %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
       or
      <a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up</a>
    </p>
  <% end %>
</div>