<div class="jumbotron">
  <h1 class="display-3">Welcome to RSS Reader!</h1>
  <p class="lead">This is a simple RSS reader.</p>
  <hr class="my-4">
  <p>It can save your time to find the sites you loved.</p>
  <% if current_user.nil? %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      or
      <a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up</a>
    </p>
  <% end %>
</div>

<div class="row mb-4">
  <div class="card border-dart ml-3" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="card border-dart ml-3" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="card border-dart ml-3" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dart ml-4" style="max-width: 22rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>