<div class="jumbotron">
  <h1 class="display-3">Welcome to RSS Reader!</h1>
  <p class="lead">This is a very simple RSS reader.</p>
  <hr class="my-4">
  <p>Be free to add any RSS feed at user profile page if you like.</p>
  <% if current_user.nil? %>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      or
      <a class="btn btn-primary btn-lg" href="/sign_up" role="button">Sign Up</a>
    </p>
  <% end %>
</div>

<%= render 'feeds_list' %>